# Ignore Ruby related files
*.gem
*.rbc
/tmp/
/log/
/bin/
.config
core
*.out

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore VS Code files
.vscode/

# Student progress files
.quest_save.yml
save_game.txt
adventure.rb
